/* Set the background gradient for the entire body */
body {
    background: linear-gradient(to right, #1a1d1f, #203a43, #0a2936);
    font-family: "Gill Sans", sans-serif;
}

/* Style for the form container */
#form {
    width: 300px; /* Set the width of the form container */
    margin: 20vh auto 0 auto; /* Center the form vertically with some top margin */
    padding: 20px; /* Add padding inside the form container */
    background-color: #121111; /* Set the background color for the form container */
    border-radius: 10px; /* Add rounded corners to the form container */
    font-size: 12px; /* Set the font size for the form content */
    
}

/* Style for the heading inside the form */
#form h1 {
    color: #fff; /* Set the text color for the heading */
    text-align: center; /* Center-align the heading text */
}

/* Style for the submit button inside the form */
#form button {
    padding: 10px; /* Add padding to the button */
    margin-top: 10px; /* Add top margin to the button */
    width: 100%; /* Make the button fill the width of its container */
    color: white; /* Set the text color for the button */
    background-color: rgb(41, 57, 194); /* Set the background color for the button */
    border: none; /* Remove the border of the button */
    border-radius: 4px; /* Add rounded corners to the button */
    cursor: pointer; /* Set a pointer cursor for the button */
}

/* Style for the input controls (labels and inputs) */
.input-control {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange child elements in a column */
    color: #fff; /* Set the text color for the input controls */
}

/* Style for the input fields inside the input controls */
.input-control input {
     border: 2px solid green; /* Set the border style for the input fields */
    background-color: #333; /* Set the background color for the input fields */
    color: #fff; /* Set the text color for the input fields */
    border-radius: 4px; /* Add rounded corners to the input fields */
    display: block; /* Make the input fields block-level elements */
    font-size: 12px; /* Set the font size for the input fields */
    padding: 10px; /* Add padding to the input fields */
    width: 100%; /* Make the input fields fill the width of their container */
}


/* Style for the error messages associated with input controls */
.input-control .error {
     color: #ff3860; /* Set the text color for error messages */
    font-size: 15px; /* Set the font size for error messages */
    height: 13px; /* Set the height for error message containers */
}